/* font-family: "Raleway",sans-serif;
font-family: "Roboto",sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

body.no-scroll {
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* mobile view */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.nav-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.burger-menu {
  fill: #2f2f37;
}

.burger-menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: auto;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
  display: inline-block;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #2e2f42;
}

.contacts-list {
  display: none;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link-active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-image-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;

  margin: 0 auto;
  padding: 72px 0;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 24px 40px 16px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-button:hover,
.mobile-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.mobile-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
  fill: #ffffff
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-list-link:focus,
.mobile-menu-list-link:hover,
.mobile-menu-list-link-active {
  color: #404bbf;
}

.mobile-address-class {
  display: flex;
}

.mobile-address-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-link:hover,
.mobile-address-link:focus,
.mobile-address-link-active {
  color: #4d5ae5;
}

.social-list-item-icon {
  fill: #f4f4fd;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-item-link:hover,
.mobile-social-list-item-link:focus {
  background-color: #404bbf;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-m-@2x.jpg);
  }
}

.title-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin: 0 auto 72px;
  max-width: 216px;
}

.button-class {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-class:hover,
.button-class:focus,
.footer-button-class:hover,
.footer-button-class:focus {
  background: #404bbf;
}

.title-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.s-three {
  background: #f4f4fd;
}

.footer-class {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.s-two {
  padding-top: 96px;
  padding-bottom: 96px;
}

.s-two-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.s-two-list-item {
  justify-content: center;
  flex-direction: row;
  gap: 72px;
}

.s-two-list-item-icon {
  display: none;
}

.s-two-list-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 72px;
}

.s-two-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.s-three-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.s-three {
  padding: 96px 0;
}

.s-three-list-item {
  border-radius: 0 0 4px 4px;

  width: 264px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
}

.s-tree-content {
  padding: 32px 0;
}

.s-three-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.s-three-list-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.sm-link-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.sm-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.sm-link:hover,
.sm-link:focus {
  background-color: #404bbf;
}

.sm-link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-icon {
  fill: #f4f4fd;
}

.s-four {
  padding: 96px 0;
}

.s-four-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.s-four-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-four-list-item:hover,
.s-four-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.s-four-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.s-four-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.s-four-list-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.s-four-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  text-align: lefts;
  padding: 40px 32px;
}

.s-four-list-item:hover .overlay {
  transform: translatey(0);
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer-class-item {
  margin-right: 16px;
  gap: 16px;
  margin-bottom: 72px;
}

.f-sm-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.f-sm {
  margin: 0 auto;
  margin-bottom: 72px;
}

.f-sm-link-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.f-sm-list-item {
  width: 40px;
  height: 40px;
}

.f-sm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-sm-link:hover,
.f-sm-link:focus {
  background-color: #31d0aa;
}

.foter-class-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.foter-class-input {
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  padding: 8px 16px;
}

.footer-form-class {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer-button-class {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-button-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

.form-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
  display: flex;
  flex-direction: column;
}

.modal-caption {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transition: translate(-50%, -50%) scale(1.5);
}

.modal-input {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  outline: transparent;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.label-wrapper {
  /* display: flex;
  flex-direction: column;
  gap: 4px; */
  display: block;
  margin-bottom: 8px;
}

.modal-input-frame {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-input:focus,
.modal-input-comment:focus {
  border-color: #4d5ae5;
}

.modal-input:focus+.modal-input-icon {
  fill: #4d5ae5;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.button-modal-close {
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  stroke-width: 1px;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.button-modal-close:hover .modal-close-icon,
.button-modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-input-comment {
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  outline: transparent;
  background-color: transparent;
  width: 256px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  margin-bottom: 16px;
}

.modal-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
  height: 16px;
  margin-bottom: 24px;
}

.modal-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-label-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox-label-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  margin-right: 8px;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-label-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button-class {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-button-class:hover,
.modal-button-class:focus {
  background-color: #404bbf;
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-t.jpg);
    max-width: 768px;
    padding: 112px 0;
    margin: 0 auto;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-t-@x2.jpg);
    }
  }

  .burger-menu {
    display: none;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    padding: 0;
    margin: 0;
  }

  .s-two-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    display: flex;
  }

  .s-two-list-item {
    flex-basis: calc((100% - 24px) / 2);
    justify-content: left;
  }

  .s-two-header {
    text-align: left;
  }

  .s-three-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .s-four-list {
    gap: 72px 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .s-four-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer {
    padding: 96px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 72px 24px;
  }

  .footer-form-class {
    flex-direction: row;
    gap: 24px;
  }

  .f-sm {
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }

  .footer-class-item {
    margin: 0;
  }

  .form-caption {
    text-align: start;
  }

  .f-sm-p {
    text-align: start;
  }

  .footer-logo {
    text-align: start;
    margin-bottom: 17px;
  }

  .title-one {
    font-weight: 700;
    font-size: 56px;

    margin: 0 auto 48px;
    max-width: 496px;
  }

  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 16px;
  }

  .modal-input-comment {
    width: 100%;
  }

  /* tablet-end */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image.jpg);
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-@x2.jpg);
    }
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
  }

  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .s-two-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .s-two-list-item-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .s-two-header {
    font-weight: 500;
    font-size: 20px;
  }

  .s-two-list-p {
    font-weight: 400;
  }

  .s-three {
    padding: 120px 0;
  }

  .s-three-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .s-four {
    padding: 120px 0;
  }

  .s-four-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .s-four-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-class-item {
    margin-right: 120px;
  }

  .f-sm {
    margin-right: 80px;
  }

  /* end */
}