body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Обнулення значень по замовчанню */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* mobile first */


.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list,
.address-class {
  display: none;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 16px 0;

}

.logo-part-two {
  color: #2e2f42;
}

.h-menu-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.h-menu-icon {
  fill: #2f2f37;
}

.mobile-menu {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
}

.mobile-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-button:hover,
.mobile-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}

.mobile-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
  fill: #ffffff
}

.mobile-navigation {}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-list-link:focus,
.mobile-menu-list-link:hover {
  color: #404bbf;
}

.mobile-address-class {}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #4d5ae5;
}

.mobile-social {}

.mobile-social-list {
  display: flex;
  gap: 40px;
}

.mobile-social-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-item-link:hover,
.mobile-social-list-item-link:focus {
  background-color: #404bbf;
}

.social-list-item-icon {
  fill: #f4f4fd;
}

.s-one {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 52px;
}

@media (min-resolution: 192dpi) {
  .s-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mobile@2x.jpg);
  }
}

.s-one-wrapper {
  display: block;
}

.s-one-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 72px;
}

.s-one-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-one-button:hover,
.s-one-button:focus {
  background-color: #404bbf;
}

.s-two {
  padding-top: 96px;
  padding-bottom: 96px;
}

.s-two-list {
  display: block;
}

.s-two-list-item {
  margin-bottom: 72px;
}

.s-two-list-item:last-child {
  margin-bottom: 0;
}

.s-two-list-item-icon {
  display: none;
}

.s-two-list-item-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.s-two-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.s-three {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.s-three-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.s-three-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.s-three-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.s-three-card-content {
  padding: 32px 16px;
}

.s-three-img {
  display: block;
  width: 264px;
  height: 260px;
}

.s-three-list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.s-three-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-item-link:hover {
  background-color: #404bbf;
}

.social-list-item-link:focus {
  background-color: #404bbf;
}

.social-list-item-icon {
  fill: #f4f4fd;
}

.s-four {
  padding-top: 96px;
  padding-bottom: 96px;
}

.s-four-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.s-four-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.s-four-list-item {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-four-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.s-four-list-item:hover .s-four-list-item-overlay-text {
  transform: translateY(0%);
}

.s-four-list-item-image {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}

.s-four-list-item-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-four-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.s-four-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.s-four-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.s-footer {
  background-color: #2e2f42;
  padding: 96px 16px;
}

.s-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.s-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.s-footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.s-footer-logo-part-two {
  color: #f4f4fd;
}

.s-footer-link-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-footer-social {
  display: block;
}

.s-footer-social-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.s-footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.s-footer-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-footer-social-list-item-link:hover {
  background-color: #31d0aa;
}

.s-footer-social-list-item-link:focus {
  background-color: #31d0aa;
  ;
}

.s-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-subscribe-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.s-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-subscribe-label {}

.s-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.s-subscribe-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.s-subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
}

.s-subscribe-button:hover {
  background: #404bbf;
}

.s-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {}

.modal-input-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-frame {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
  fill: #4D5AE5;
}

.modal-comment-wrapper {
  margin-bottom: 16px
}

.modal-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
  height: 16px;
  margin-bottom: 24px;
}

.modal-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-label-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox-label-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  margin-right: 8px;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-label-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-send-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



/* ---  tablet --- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {}

  .header-navigation {}

  .h-menu-button,
  .h-menu-icon {
    display: none;
  }

  .logo-link {
    margin-right: 80px;
  }

  .menu-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-list-link {
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

  }

  .active-link {
    color: #404bbf;
  }

  .menu-list-link:hover {
    color: #404bbf;
  }

  .menu-list-link:focus {
    color: #404bbf;
  }

  /* address */
  .address-class {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: auto;

  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: #404bbf;
  }

  .address-link:focus {
    color: #404bbf;
  }

  .s-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet.jpg);
    max-width: 768px;
    padding: 112px 136px;
  }

  @media (min-resolution: 192dpi) {
    .s-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tablet@2x.jpg);
    }
  }

  .s-one-header {
    font-size: 56px;
    line-height: 1.07;
  }

  .s-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .s-two-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .s-two-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .s-two-list-item-header {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
  }

  .s-three-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;

  }

  .s-four-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .s-four-list-item-image {
    width: 356px;
    height: 300px;
  }

  .s-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
  }

  .s-footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
  }

  .s-footer-link-and-text {
    display: block;
  }

  .s-footer-text {
    width: 264px;
    height: 112px;
  }

  .s-subscribe {
    align-items: start;
  }

  .s-subscribe-form {
    flex-direction: row;
    align-items: baseline;
  }

  .s-subscribe-input {
    margin-right: 24px;
    margin-bottom: 0;
  }

}

/* --- Dsktop --- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .logo-link {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }

  .s-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
    max-width: 1440px;
    padding: 188px 472px;
  }

  @media (min-resolution: 192dpi) {
    .s-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);
    }
  }

  .s-one-header {
    margin: 0 auto 48px;
  }

  .s-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .s-two-list {
    flex-wrap: nowrap;
  }

  .s-two-list-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .s-two-list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .s-two-list-item-header {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
  }

  .s-two-list-item-text {
    font-weight: 500;
  }

  .s-three {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .s-three-list {
    gap: 24px;
  }

  .s-three-card-content {
    padding: 32px 0;
  }

  .s-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .s-four-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .s-four-list-item {
    width: calc((100% - 48px) / 3);
  }

  .s-four-list-item-image {
    width: 360px;
    height: 300px;
  }

  .s-footer {
    padding: 100px 0;
  }

  .s-footer-container {
    align-items: baseline;
    gap: 0 0;
  }

  .s-footer-link-and-text {
    width: 264px;
    height: 112px;
    margin-right: 120px;
  }

  .s-footer-social-paragraph {
    text-align: left;
  }

  .s-subscribe {
    margin-left: 80px;
  }

  .s-subscribe-input {
    width: 264px;
  }

}

/* ------------------------------------------------------- */